.main-div {
  position: absolute;
  background-image: url("../image/1.jpg");
  background-position: center;
  width: 1350px;
  height: 615px;
  overflow: hidden;
}

.main-div_newMenu {
  position: absolute;
  background-image: url("../image/2.jpg");
  background-position: center;
  width: 1350px;
  height: 615px;
  overflow: hidden;
}

.main-div_addNewRecipe {
  position: absolute;
  background-image: url("../image/3.jpg");

  background-position: center;
  width: 1350px;
  height: 615px;
  overflow: hidden;
}

.nav-bar {
  width: 1350px;
  height: 100px;
  padding-top: 10px;
  background-color:  black;
  color: whitesmoke;
  user-select: none;
}

.title {
  font-family: 'Amatic SC', cursive;
  font-style: oblique;
  margin-left: 570px;
  font-size: 30px;
  height: 30px;
  margin-top: 5px;
}


.site-nav__item-1 {
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;

  margin-left: 30vh;
  float: left;
  font-size: 20px;
  cursor: pointer;
}

.site-nav__item-1-selected {
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;

  margin-left: 30vh;
  float: left;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}

.site-nav__item-2 {
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;

  float: left;
  margin-left: 300px;
  font-size: 20px;
  cursor: pointer;

}

.site-nav__item-2-selected {
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;

  float: left;
  margin-left: 300px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}
  
.site-nav__item-4 {
  margin-top: 0px;
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;

  float: left;
  margin-left: 300px;
  font-size: 20px;
  cursor: pointer;

}

.site-nav__item-4-selected {
  margin-top: 0px;
  color: whitesmoke;
  font-family: 'Amatic SC', cursive;

  float: left;
  margin-left: 300px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: underline;
}
  
.site-nav__item-1:hover, .site-nav__item-2:hover, .site-nav__item-4:hover {
  color: darkgrey;
}

.site-nav_item-selected {
  text-decoration: underline;
}



.calendar_container {
  position: fixed;
  margin-top: 5.6vh;
  width: 1340px;
  height: 500px;
}

.calendar {
  position: relative;
  margin-top: 15vh;
  margin-left: 500px;
  
}
.calendar__written {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 565px;
  font-family: sans-serif;
  color:whitesmoke;
}

.calendar__month-view__weekdays__weekday {
  color: black;
}

.calendar-button {
  position: absolute;
  height: 30px;
  width: 60px;  
  left: 790px;
  cursor: pointer;
}

.error-message {
  position: absolute;
  color: white;
  margin-left: 115vh;
  margin-top: 40px;
}

.table_container {
  position: fixed;
  margin-top: 100px;
  margin-left: 70vh;
  width: 650px;
  height: 424px;
  overflow-y: auto;  
  overflow-x: hidden;
}

.menu-table {
  background-color: rgb(228, 205, 175, 0.6);
  color: #803034;
  position: relative;
  border-collapse: collapse;
  padding-bottom: 50px;  
  width: 650px;
}


.menu-table-printable {
  background-color: rgb(228, 205, 175, 0.6);
  color: #803034;
  position: relative;
  margin-top: 50px;
  margin-left: 80px;
  border-collapse: collapse;
  padding-bottom: 50px;
  
  width: 650px;
}

th {
  width: 250px;
  height: 80px;
  border: 1px solid;
  text-align: center;
  background-color: rgb(245, 245, 245, 0.2);
  
}

td {
  border: 1px solid;
  
  text-align: center;
  padding: none;
}

.cell-input {
  background-color: rgb(255, 69, 0, 0.5);
  border: none;
  width: 250px;
  height: 80px;
  position: relative;
  text-align: center;
  color: black;
  padding: none;
}

.cell-input-red {
  background-color: rgb(255, 69, 0);
  border: none;
  width: 250px;
  height: 80px;
  position: relative;
  text-align: center;
  color: black;

}

.col_days {
  width: 400px;
  background-color: rgb(255, 165, 0, 0.3);
}

.back-cell {
  width: 200px;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  background-color: rgb(255, 69, 0, 0.6);
  width: 232px;
  padding-left: 20px;
  padding-top: 0px;
  z-index: 1;
  text-align: center;
  color: black;
  
}

.suggestions {
  cursor: pointer;
  text-align: center;
  margin-left: -20px;
  padding: none;
  height: 2px;
  
}

.suggestions:hover {
  color: white;
  height: 2px;

}

.suggestion-selected {
  color: white;
  cursor: pointer;
  text-align: center;
  margin-left: -20px;
  padding: none;
  height: 2px;
}

.table_button-opaque {
  opacity: 0.7;
  background-color: darksalmon;
  position: absolute;
  margin-left: 84.4vh;
  width: 122px;
  height: 30px;
  border-style: outset;
}

.table_button {
  background-color: darksalmon;
  position: absolute;
  margin-left: 84.4vh;
  width: 122px;
  height: 30px;
  cursor: pointer;
}

.print-table_button {
  position: absolute;
  height: 30px;
  width: 100px;
  margin-left: 1px;
  background-color: rgb(228, 205, 175, 0.6);
  cursor: pointer;
}

.recipes_list {  
  position: absolute; 
  width: 250px; 
  height: 505px;
  margin-top: 5.6vh;
  margin-left: 0px;
  padding-left: 10px;
  background-color: rgb(0, 0, 0, 0.5);
  overflow-y: auto;
  
}

.recipe_title {
  margin-top: 15px;
  margin-left: -10px;
  padding-left: 10px;
  padding-top: 10px;;
  height: 30px;
  width: 250px;
  font-size: 20px;
  color: white;
  position: fixed;
  background-color: black;
  
}

::-webkit-scrollbar {
  display: none;
}

.recipes_names {
  margin-top: 60px;
  float: left;
  width: 200px;
  color: white;
}

.recipe_list-item {
  cursor: pointer;
  
}

.recipe_list-item-selected {
  color: grey;
  cursor: pointer;
  
}

.recipe_list-item:hover {

  color: lightgray;
}

.recipe_ingredients {
  position: absolute;
  border-radius: 10px;
  margin-left: 41.5vh;
  margin-top: 20vh;
  float: left;
  width: 200px;
  padding: 20px;
  text-align: left;
  color: black;
  background-color: white;
}

.ingredients {
  text-align: center;
}

.close_ingredients {
  margin-left: -5px;
  margin-top: -10px;
  cursor: pointer;
}

.shoppinglist_container {
  position: fixed;

  width: 1340px;
  height: 500px;
  margin-left: 0vh;
  justify-content: center;
  overflow-y: auto;  
  overflow-x: hidden;
}


.shoppinglist {
  position: static;
  border: 1px solid;
  margin-top: 50px;
  margin-left: 150px;
  width: 300px;
  height: 400px;
  background-color: rgb(144, 238, 144, 0.6);
  padding-left: 30px;
  overflow-y: auto;  
}

.shoppinglist-printable {
  position: static;
  border: 1px solid;
  margin-top: 50px;
  margin-left: 70px;
  
  width: 600px;
  height: 1000px;
  background-color: white;
  color: black;
  padding-left: 30px;
  overflow-y: none;
  column-count: 2;  
  column-width: 250px;
  column-fill: auto;
}

.shoppinglist_title {
  text-align: center;
  padding-bottom: 30px;
  font-size: 20px;
  margin-top: 0px;
  margin-left: -30px;
  column-span: all;
}


.shoppinglist_item {
  width: 250px;
  display: inline-block;

}

.shoppinglist_item:hover {
  color: white;
  cursor: pointer;
  display: inline-block;
}

.shoppinglist-item_button {
  font-weight: bold ;
  color: red;
  margin-right: -10px;
  cursor: pointer;
  
  
}

.print_write {
  color: yellow;
  margin-left: 69.5vh;
  
}

.print-button {
  margin-left: -32px;
  background-color: rgb(197, 235, 197);
  font-weight: bold;
  cursor: pointer;
  width: 80px;
  height: 30px;
}

.shoppinglist_back-button {
  margin-top: 5px;
  margin-left: -20px;
  cursor: pointer;
}

.shoppinglist_add-item {
  display: block;
  margin-top: -20px;
}

.shoplist_added-item {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

.new-recipe_main-div {
  position: absolute;
  margin-top: 80px;
  margin-left: 60vh;
  width: 630px;
}

.new-recipe_form {
  position: relative;
  background-color: rgba(205, 219, 231, 0.8);
  border: grey, solid;
  color: black;
  border: 1px solid;
  width: 600px;
  height: 380px;
  border-radius: 20px;
  overflow-y: scroll;
}

.form-input_container {
  position: static;
}

.new-recipe_form_legend {
  background-color: white;
  text-align: center;
  font-size: 20px;
}

.name-input {
  margin-left: 70px;
  position: fixed;
}

.duplicate-alert {
  margin-left: 280px;
  display: inline;
  font-size: 20px;
  color: red;
}

.input {
  margin-left: 40px;
}

.label-name {
  font-size: 20px;
  font-weight: 500;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: inline-block;
}

.label-ingredient {
  padding-left: 30px;
  padding-top: 10px;
  display: inline-block;
  
}

.inline-label {
  padding-left: 10px;
  
}

.qty {
  width: 50px;
  text-align: center;
  margin-left: 10px;
}

.uom {
  width: 60px;
  text-align: center;
  overflow-y: auto;
  max-height: 200px;
  z-index: 1;
  margin-left: 10px;
}

.add-ingredient-button {
  margin-left: 20px;
  cursor: pointer;
}

.next-ingredient_error {
  margin-left: 450px;
  font-size: 18px;
  font-weight: 700;
  color: black;  
}


.form_button {
  position: absolute;
  background-color: rgba(205, 219, 231, 0.8);
  margin-left: 80vh;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.form_button:hover {
  position: absolute;
  background-color: rgba(172, 198, 221, 0.8);
  margin-left: 80vh;
  height: 30px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
}

.oldmenu-button {
  position: absolute;
  margin-top: 40vh;
  margin-left: -20vh;
  height: 50px;
  width: 100px;
  cursor: pointer;
}





