body {
    background-color: black;
    user-select: none;
    overflow-y: overlay;
    margin-left:auto;
    margin-right:auto;
}
::-webkit-scrollbar {
  width: 10px;

}
::-webkit-scrollbar-track {
  background: black;
}
::-webkit-scrollbar-thumb {
  background: white;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
    scroll-behavior: smooth;
  }

