@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Roboto&display=swap');

.pointer {
    cursor: pointer;
}

.recipe:active  {
    color: red;
}

.form-control:focus {
    border-color: #6265e4 !important;
    box-shadow: 0 0 5px rgba(98, 101, 228, 1) !important;
  }

  .border-3 {
    border-width:10px !important;
}

.margin-right-0 {
  padding-right:0px !important;
}

.no-focus-border {
    outline: none !important;
    outline-offset: none !important;
}

.stick-to-nav {
  top: 83px;
}
.stick-to-nav2 {
  top: 67px;
}

.div100 {
  height: 2000px;
}

.bg-black {
  background-color: black;
}

.border-black {
  border-color: black !important;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
  font-size: 80px;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.text-black {
  color: black;
}


.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

.no-dancing {
  width: 1400px;
}

.menu_table-th {
  
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: larger;
}

.oldmenu_table-th {
  border: 1px solid white;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.database-width {
  width: 97vw;
}

.smooth-scroll {
  scroll-behavior: smooth;
}

.sliding-database {
  height: 70vh;
}

.database {
  height: 55vh;
}

.message-div {
  border-right: solid 10px red;
  border-left:solid  10px red;
  padding-left: 2px;
  padding-right: 2px;
  width: auto;
  font-family: 'Roboto', sans-serif;
  color: white;
}


.input-h {
  height: 32px;
}

.no-x-overflow {
  overflow-x: hidden;
  overflow-y: overlay;
}

.offset {
  margin-top: 150px;
}

.overflow-y-auto {
  overflow-y: auto;
}

.big-text-responsive {
  font-size: 6vw;
}

.react-calendar {
  border-radius: 1mm;
  
}

.no-padding {
  padding: 1px;
}

.border-responsive {
  border: 0.7vw solid black;
}

input {
  vertical-align:top;
}

select {
  border:1px solid #ccc;
  vertical-align:top;
  height:30px;
}

.button-sel {
  vertical-align: top;
  height: 30px;
  text-align: center;
}

.dropdown-height {
  height: auto;
  max-height: 200px;
}






  